html,
body {
  padding: 2% 5% 2% 5%;
  font: 400 15px/1.5 "Open Sans", sans-serif;
  color: #666;
  background: #eaeaea;
  position: relative;
}

body{

  background: linear-gradient(#e4f3f8, #ffffff), white;
}