html,
body {
  padding: 2% 5% 2% 5%;
  font: 400 15px/1.5 "Open Sans", sans-serif;
  color: #666;
  background: #eaeaea;
  position: relative;
}

body {
  background: linear-gradient(#e4f3f8, #ffffff), white;
}
/* Спецификация */

body {
  font-family: "PT Sans", sans-serif;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
}
.menu {
  margin-top: 8px;
}

.menu__item {
  margin: 0 30px;
}

.menu__item a {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
